@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/roboto/RobotoMedium/RobotoMedium.ttf);
}
@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/roboto/RobotoRegular/RobotoRegular.woff);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/open_sans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/open_sans/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-SemiBold;
    src: url(../fonts/open_sans/OpenSans-Semibold.ttf);
}
@font-face {
    font-family: OpenSans-ExtraBold;
    src: url(../fonts/open_sans/OpenSans-ExtraBold.ttf);
}
@font-face {
    font-family: Raleway-Regular;
    src: url(../fonts/raleway/Raleway-Regular.ttf);
}
@font-face {
    font-family: Raleway-SemiBold;
    src: url(../fonts/raleway/Raleway-SemiBold.ttf);
}